# PHP Composer
/vendor/
composer.phar
composer.lock

# SlimPHP
logs/*.log
!/logs/README.md
database/db.sqlite
!/database/README.md
cache

public/avatars/*.jpg
public/avatars/*.png

# IntelliJ
*.iml
.idea/